.infoPopup {
  position: absolute;
  width: 256px;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  transform: translate(-50%, -100%);
}

.close-button {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  padding: 1rem;
}

.close-button>button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: none;
  border-radius: 50%;
  border: none;
  background: #eee;
}

.close-button>button:hover {
  background: #ddd;
}

